{% extends 'base.html' %}
{% block title %}Home Page {% endblock%}

{% block contents %}


<div class="  container my-5">
    <div class="row g-4">
        <!--disease card1-->

        <div class="col-12 col-md-6 col-lg-3 mb-4">  
    <div class="disease-card  p-0">
        <a href="dr">
            <img src="/static/samples/dr/dr.jpeg">
            </a>
        
    <span>Diabetic Retinopathy</span>
    </div>
</div>

<!--disease card2-->
 <div class="col-12 col-md-6 col-lg-3 mb-4"> 
<div class="disease-card  p-0">
    <a href="multi">
            <img src="/static/samples/fundus_multi/multi.jpeg">
            </a>
    <span>Multidiseases Fundas</span>
</div>
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
     <a href="pneum">
            <img src="/static/samples/cxr_pneumonia/pneum.jpeg">
            </a>
    <span>Pneumonia ,COVID-19</span>
</div>
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0 ">
    <a href="tb">
            <img src="/static/samples/tb/tb.jpeg">
            </a>
    <span>Tuberculosis</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
<a href="skin">
            <img src="/static/samples/skin/skin.jpeg">
            </a>

    <span>Skin Lessions</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0 ">
    <a href="brain">
            <img src="/static/samples/brain_tumor/brain.jpeg">
            </a>
    <span>Brain Tumor</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
    <a href="malaria">
            <img src="/static/samples/malaria/mal.jpeg">
            </a>
    <span>Malaria</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">

    <a href="dr">
            <img src="/static/samples/breast/breast.jpeg">
            </a>
    <span>Breast Cancer</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0 ">
<a href="dr">
            <img src="/static/samples/bone_fracture/bone.jpeg">
            </a>

    <span>Bone Fracture</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
    <a href="dr">
            <img src="/static/samples/ear/ear.jpeg">
            </a>
    <span>Ear Disease</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
    <a href="dr">
            <img src="/static/samples/oral_cancer/oral.jpeg">
            </a>
    <span>Oral Cancer</span>
</div> 
</div>

 <div class="col-12 col-md-6 col-lg-3"> 
<div class="disease-card p-0">
    <a href="dr">
            <img src="/static/samples/down_syndrome/down.jpeg">
            </a>
    <span>Down Syndrome</span>
</div> 
</div>

</div>
</div>

{% endblock %}
