<nav class="navbar navbar-expand-lg custom-nav fixed-top  m-0 px-5 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static/logo.jpeg" alt="Bootstrap" width="70" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

       <li class="nav-item ms-lg-2  mt-lg-0 lng">
        <div class=" d-flex border border-2  ">
<!--eng-->
<div class=" border-end border-2">
<input type="radio" class="btn-check" name="langOption"  id= "langEn" value="en" checked autocomplete="off">
<label class="btn btn-sm  border-2  " for="langEn" >EN</label>
</div>

<div class=" border border-2">
<input type="radio" class="btn-check" name="langOption" id= "langNe" value="np" checked autocomplete="off">
<label class="btn btn-sm   border-2    ">ने</label>
</div>

    </div>
</li> 
      </ul>
     
    </div>
  </div>
</nav>